@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600&display=swap");

html {
  scroll-behavior: smooth;
  background: #100e1d;
}

body {
  background: #100e1d;
  font-family: "Raleway", sans-serif;
}

input,
textarea,
button,
select,
a,
label {
  -webkit-tap-highlight-color: transparent;
  font-family: "Raleway", sans-serif;
}

input:focus {
  outline: none;
}
