.search--container {
  height: 100%;
  width: 100%;
  padding: 60px 12px 30px 12px;
  position: absolute;
  top: 0;
  left: 0;
  background: #1e213a;
  transform: translateX(-100%);
  transition: all 0.3s ease-in-out;
  z-index: 100;
  box-sizing: border-box;
  &.visible {
    transform: translateX(0);
  }
  .search__close-btn {
    position: absolute;
    top: 22px;
    right: 22px;
    color: #e7e7eb;
    cursor: pointer;
  }
  .search-form {
    width: 100%;
    display: flex;
    .search-form__input {
      flex-grow: 1;
      margin-right: 12px;
      position: relative;
      span {
        position: absolute;
        top: 50%;
        left: 10px;
        transform: translateY(-50%);
        color: rgba(255, 255, 255, 0.7);
      }
      input {
        width: 100%;
        text-indent: 40px;
        height: 48px;
        border: 1px solid #e7e7eb;
        box-sizing: border-box;
        background: transparent;
        color: #e7e7eb;
        &::placeholder {
          color: rgba(255, 255, 255, 0.7);
        }
      }
    }
    .search-form__button {
      button {
        height: 48px;
        padding: 14px 19px;
        color: white;
        background: #3c47e9;
        border: none;
        &:active {
          outline: none;
          box-shadow: none;
        }
      }
    }
  }
  .country-list {
    width: 100%;
    height:calc(100% - 100px);
    max-height: calc(100% - 100px);
    overflow: scroll;
    margin-top: 38px;
    .country-list__item {
      width: 100%;
      padding: 23px 12px;
      display: flex;
      justify-content: space-between;
      box-sizing: border-box;
      border: 1px solid transparent;
      cursor: pointer;
      &:hover {
        border: 1px solid #616475;
      }
      span {
        color: #616475;
        font-size: 16px;
      }
      h3 {
        font-weight: 500;
        font-size: 16px;
        color: #e7e7eb;
      }
    }
    .no-data {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      h3 {
        font-weight: 500;
        font-size: 16px;
        color: #e7e7eb;
      }
    }
  }
}
.loader--container {
  height: calc(100%);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
